<div class="navbar">
  <div class="navbar__brand">
    <a class="navbar__item" href="{{ site.url }}">
      <img src="{{ asset('/img/logo.svg') }}" width="auto" height="28">
    </a>
    <div class="navbar__spacer"></div>
    <div id="navbar-burger" class="navbar__burger">
      <i class="icon mdi mdi-menu"></i>
    </div>
  </div>

  <div id="navbar-menu" class="navbar__menu">
    <nav class="navbar__start">
      {% for item in menu %}
        {% if item.hasChildren %}
          <div class="navbar__item-dropdown">
            <a href="{{ item.link }}" class="navbar__item">{{ item.title }}</a>
            <div class="navbar__dropdown">
              {% for child in item.children %}
                <a href="{{ child.link }}" class="navbar__item">{{ child.title }}</a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a href="{{ item.link }}" class="navbar__item">{{ item.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
    <div class="navbar__spacer"></div>
    <div class="navbar__end">
      <a class="navbar__item" href="{{ url('login') }}">Login</a>
    </div>
  </div>
</div>
